.messages-container {
  display: flex;
  flex-direction: row;
  border: solid black 1px;
  height: 100%;
}

.messages-directory {
  display: flex;
  flex-direction: column;
}

.message-directory-header {
  display: flex;
  justify-content: space-between;
}

.conversation-list {
  display: flex;
  flex-direction: column;
}
